.banner-container{
    background-color: #fff; 
    padding: 20px; 
    border-radius: 10px;
    margin: 0 auto; 
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}

.banner-info{
    font-family: 'Dancing Script', cursive; 
    font-size: 48px;
    color: #32CD32;
    font-weight: 600;
}